.submit-btn{
  font-size: 14px;
  background-color: blue;
  color: #ffffff;
  display: block;
  margin: 10px auto;
  max-width: 50%;
}

.input-field
{
  display: block; 
  margin: 10px auto;
  font-size: 14px;
  text-align: center;
  max-width: 50%;
}

.result-box{
  margin: 15px auto;
  text-align: center;
  border: 1px dashed black;
  border-radius: 4px;
  max-width: 400px;
}

.title, .subtitle{
  text-align: center;
  margin-top: 10px;
  display: block;
}

.error {
  color: red;
  margin: 10px auto;
  text-align: center;
  display: block;
  font-size: 11px;
}